textarea[name=comments] {
    width: 500px
    height: 100px
    margin: 2px
}

textarea[name=tags] {
    width: 500px
    height: 35px
    margin: 2px
}

table {
    border-collapse: collapse;
    width: 35%
}

table, th, td {
    border: 1px solid black;
    padding: 3px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
