table {
    border-collapse: collapse;
    width: 75%
}

table, th, td {
    border: 1px solid black;
    padding: 3px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ui-widget-header {
 	background: #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}

.col-md-4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.might-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.popover {
	max-width:none;
}