<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'visualize/detail.css' %}" />
</head>
<body>
Click <a href="{% url 'visualize:index' %}">here</a> to go back to the index.
<h2>Simulation {{sim.name}} </h2>
{% if par %}
<h2>Simulation Parameters</h2>
<table>
<tr>
	<th>Parameters</th>
	<th>Value</th>
</tr>
{% for name, value in par.get_fields %}
<tr>
    <td>{{ name }}</td>
    <td>{{ value }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% if rup %}
<h2>Rupture Details</h2>
<table>
<tr>
	<th>Parameter</th>
	<th>Value</th>
</tr>
{% for name, value in rup.get_fields %}
<tr>
	<td>{{ name }}</td>
	<td>{{ value }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% if one_point %}
<h2>One Point Statistics</h2>
<table>
<tr>
	<th>Parameter</th>
	<th>Value</th>
</tr>
{% for name, value in one_point.get_fields %}
<tr>
	<td>{{ name }}</td>
	<td>{{ value }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
</body>
</html>
