<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'visualize/detail.css' %}" />
</head>
<body>
Click <a href="{% url 'visualize:index' %}">here</a> to go back to the index.
<h2>Simulation {{sim.name}} </h2>
<p>{{ sim.comments }}
{% if par %}
<h2>Simulation Parameters</h2>
<table>
<tr>
	<th>Parameters</th>
	<th>Value</th>
</tr>
{% for name, value in par.get_fields %}
<tr>
    <td>{{ name }}</td>
    <td>{{ value }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if inp %}
<h2>Simulation Inputs</h2>
<table>
<tr>
	<th>Field</th>
	<th>Val</th>
</tr>
{% for i in inp %}
<tr>
	<td>{{ i.field }}</td>
	{% if i.val %}
		<td>{{ i.val }}</td>
	{% elif i.file %}
		<td>{{i.file }}</td>
	{% endif %}
</tr>
{% endfor %}
</table>
{% endif %}

{% if rup %}
<h2>Rupture Details</h2>
<table>
<tr>
	<th>Parameter</th>
	<th>Value</th>
</tr>
{% for name, value in rup.get_fields %}
<tr>
	<td>{{ name }}</td>
	<td>{{ value }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if one_point %}
<h2>One Point Statistics</h2>
<table>
<tr>
	<th>Parameter</th>
	<th>Value</th>
</tr>
{% for name, value in one_point.get_fields %}
<tr>
	<td>{{ name }}</td>
	<td>{{ value }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if figs %}
<h2>Figures</h2>
{% for fig in figs %}
<figure>
	<figcaption style="font-size: 24px;"><b>{{ fig.name }}</b></figcaption>
	<img src="{{ fig.file_path }}" alt='{{ fig.file_path }}'>
</figure>
{% endfor %}
{% endif %}

{% if outp %}
<h2>Simulation Outputs</h2>
<table>
<tr>
	<th>File</th>
	<th>Field</th>
	<th>Shape</th>
	<th>Indices</th>
</tr>
{% for out in outp %}
<tr>
	<td>{{ out.file }}</td>
	<td>{{ out.field }}</td>
	<td>{{ out.shape }}</td>
	<td>{{ out.indices }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
</body>
</html>