{% extends "visualize/base.html" %}
{% block header %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'visualize/upload.css' %}" />
{% endblock %}
{% block content %}
<div id='form'>
	<form method="post">
		{% csrf_token %}
	    <input id="file" type="file" name="file"><br>
	    <input type="button" id='submit' value="Upload File"><br>
	</form>
</div>
<div id='message'>
</div>
<script type="text/javascript" src="{% static 'visualize/upload.js' %}"/></script>
{% endblock %}
